#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  border: 1px solid #d9d9d9;
  padding: 1em;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-the-docs {
  color: #888;
}
.btn-group button{
  margin: 0px 10px;
  border: 1px solid #d9d9d9;
}
.btn-delete{
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid red;
  padding: 6px 12px;
}
.btn-delete-all{
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 6px 12px;
}
.btn-delete-all.reset{
  font-size: 14px;
  border-radius: 8px;
  background-color: black;
  color: white;
  margin-left: 10px;
  padding: 6px 12px;
}
.users ul{
  display: flex;
  flex-wrap: wrap;
}
.users ul li{
  list-style-type: none;
  margin-right: 16px;
  border: 1px solid #d9d9d9;
  margin-bottom: 16px;
  padding: 5px;
  border-radius: 12px;
  background-color: #f5f5f5;
}
.users ul li img{
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}
.users ul li p{
  margin: 0 0 6px 0;
}
.users ul li a{
  font-size: 14px;
}
.form-card{
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto 20px;
}
.error{
  color: red;
  font-size: 14px;
}